import pygame
from time import sleep
{%- if config["config"]["sdl_driver"] %}
import os
os.environ["SDL_VIDEODRIVER"] = "{{config["config"]["sdl_driver"]}}"
{%- endif %}

# __DRIVER_CODE__ variables


cdef class PygameJoystickSourceDriver(source_driver.SourceDriver):
    def __cinit__(self):
        # TODO possible to remove this?
        {% for sig,args in (out_signals.items()) %}
        {{sig}}BufVars[6] = {{args['schema']['max_packets_per_tick'] * args['packet_size']}}
        {%- endfor %}

        pygame.display.init()
        pygame.joystick.init()

        if pygame.joystick.get_count() < 1:
            die("No joystick found!\n")

        self.pygame_joystick = pygame.joystick.Joystick(0)
        pygame_joystick.init()
        self.num_buttons = pygame_joystick.get_numbuttons()
        pygame.event.pump()
        self.sleep_duration = {{config["config"]["tick_len"]}} / (2. * 1e6)

    cdef void run(self, uint8_t **inBuf, size_t *inBufLen, object *out_sigs, object *out_sig_lens) except *
        pygame.event.pump()
        (<double*>inBuf[0])[0] = self.pygame_joystick.get_axis(0)
        (<double*>inBuf[0])[1] = self.pygame_joystick.get_axis(1)
        for i in range(self.num_buttons):
            (<uint8_t*>inBuf[0])[128 + i] = self.pygame_joystick.get_button(i)

    {%- if async %}

        sleep(self.sleep_duration)
    {%- endif %}


    cdef void exit_handler(self, int exitStatus) except *
        pass
