from distutils.core import Extension, setup
from Cython.Build import cythonize

# TODO dynamically add extra source files in driver folder

sink_extensions = [
    Extension("sink_drivers.sink_driver", ["sink_drivers/sink_driver.pyx"]),
{%- for name in driver_names  %}
    Extension(
        "sink_drivers.{{ name }}.{{ name }}",
        ["sink_drivers/{{ name }}/{{ name }}.pyx", "sink_drivers/{{ name }}/sqlHelpers.c", "sink_drivers/{{ name }}/sqlite3async.c"],
    ),
{%- endfor %}
]

setup(
    name="sink_drivers",
    ext_modules=cythonize(sink_extensions, language_level=3),
)


source_extensions = [
    Extension("source_drivers.source_driver", ["source_drivers/source_driver.pyx"]),
{%- for name in driver_names  %}
    Extension(
        "source_drivers.{{ name }}}.{{ name }}}",
        ["source_drivers/{{ name }}}/{{ name }}}.pyx"],
    ),
{%- endfor %}
]

setup(
    name="source_drivers",
    ext_modules=cythonize(sink_extensions, language_level=3),
)
